<footer class="site-footer">
  <div class="wrap site-footer__grid">
    <div class="site-footer__brand">
      <a class="logo logo--light" href="{{ url_for('index') }}">{{ t('site_name') }}</a>
      <p>{{ t('footer_about') }}</p>
      <a class="lang-switch lang-switch--footer" href="{{ url_for('set_lang', lang_code=other_lang) }}">
        {{ lang | upper }} / {{ other_lang | upper }}
      </a>
    </div>

    <div>
      <h4>{{ t('footer_company') }}</h4>
      <ul class="footer-links">
        <li><a href="{{ url_for('index') }}">{{ t('nav_home') }}</a></li>
        <li><a href="{{ url_for('index') }}#destinations">{{ t('nav_destinations') }}</a></li>
      </ul>
    </div>

    <div>
      <h4>{{ t('footer_help') }}</h4>
      <ul class="footer-links">
        <li><a href="#">{{ t('footer_contact') }}</a></li>
        <li><a href="#">{{ t('footer_faq') }}</a></li>
      </ul>
    </div>
  </div>

  <div class="wrap site-footer__bottom">
    <p>{{ t('footer_copyright') }}</p>
  </div>
</footer>
